.additional-goods {
  padding-bottom: 34px;
  padding-top: 13px;
}

.additional-goods__header {
  font-family: $font-family--header;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin: 0;
  margin-bottom: 34px;
}

.additional-goods__header::after {
  position: absolute;
  width: 53px;
  height: 3px;
  content: "";
  background-color: $accent-color;
  top: 14px;
  right: -20px;
}

.additional-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;
}

.additional-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__price {
  width: 100%;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 17px;
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-goods__value {
  text-align: end;
}

.additional-goods__button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.additional-goods__name {
  font-family: $font-family--header;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.additional-goods__field,
.additional-goods__value {
  padding: 0;
}

.additional-goods__about-present {
  width: 280px;
  height: 289px;
  background-color: $accent-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 65px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 27px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.additional-goods__icon-gift {
  fill: #ffffff;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-goods__about-present {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }
}

.additional-goods__text {
  font-family: $font-family--text;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.additional-goods__about-present svg {
  width: 56px;
  height: 61px;
}

@media (min-width: $tablet-width) {
  .additional-goods__header {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__header::after {
    width: 370px;
    top: 20px;
  }

  .additional-goods__name {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__button {
    width: 633px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
  }

  .additional-goods__item {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding-left: 38px;
    padding-right: 38px;
  }

  .additional-goods__about-present {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: $accent-color;
    flex-direction: row;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__about-present {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .additional-goods__text {
    width: 159px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__header::after {
    width: 870px;
  }

  .additional-goods__header::before {
    position: absolute;
    width: 53px;
    height: 3px;
    content: "";
    background-color: $accent-color;
    top: 20px;
    left: -70px;
  }

  .additional-goods__about-present {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: $accent-color;
    flex-direction: column;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__about-present {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }
  }

  .additional-goods__text {
    text-align: center;
  }

  .additional-goods__item {
    flex-direction: row;
    width: 895px;
    border-left: none;
    border-right: none;
    justify-content: space-between;
  }

  .additional-goods__price {
    width: 284px;
  }

  .additional-goods__button {
    width: 245px;
  }

  .additional-goods__name {
    width: 160px;
  }
}
