.button {
  width: 280px;
  padding-top: 13px;
  padding-bottom: 12px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: $accent-color;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
