.button {
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: $font-family--header;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: $accent-color;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
