.cat-program {
  background-color: $block-background;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
  position: relative;
}

.cat-program__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: 71px;
  position: relative;
}

.cat-program__header::before {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: "";
  left: -69px;
  top: -5px;
  background: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
}

.cat-program__icon-cat-slim,
.cat-program__icon-cat-pro {
  position: absolute;
  content: "";
  z-index: 100;
}

.cat-program__icon-cat-slim {
  top: 22px;
  left: 30px;
}

.cat-program__icon-cat-pro {
  top: 35px;
  left: 13px;
}

.cat-program__intro {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
  padding-bottom: 22px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 19px;
}

.cat-program__catalog-reference {
  text-decoration: none;
  font-family: $font-family--header;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  position: relative;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.cat-program__reference-icon {
  position: absolute;
  right: -36px;
  bottom: 6px;
}

.cat-program__catalog-reference:hover .cat-program__reference-icon {
  width: 34px;
  margin-left: 21px;
}

.cat-program__catalog-reference:active .cat-program__reference-icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .cat-program {
    padding-top: 44px;
    padding-left: 52px;
    padding-bottom: 59px;
  }

  .cat-program__header {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .cat-program__header::before {
    width: 200px;
    height: 200px;
    right: 42px;
    top: 16px;
    left: auto;
  }

  .cat-program__icon-cat-slim {
    width: 141px;
    height: 194px;
    top: 77px;
    right: 92px;
    left: auto;
  }

  .cat-program__reference-icon {
    right: -49px;
    bottom: 8px;
  }

  .cat-program__icon-cat-pro {
    width: 268px;
    height: 113px;
    top: 132px;
    right: 28px;
    left: auto;
  }

  .cat-program__intro {
    font-size: 16px;
    line-height: 24px;
    width: 373px;
    margin-bottom: 34px;
    border-bottom: none;
  }

  .cat-program:nth-child(2) .cat-program__intro {
    width: 344px;
  }

  .cat-program__catalog-reference {
    font-size: 20px;
    line-height: 20px;
  }

  .cat-program__catalog-reference::after {
    top: 10px;
    right: -47px;
  }
}

@media (min-width: $desktop-width) {
  .cat-program {
    margin-bottom: 0;
    padding-right: 53px;
    padding-top: 48px;
    padding-bottom: 59px;
  }

  .cat-program__header {
    margin-left: 161px;
    margin-bottom: 73px;
  }

  .cat-program__header::before {
    width: 100px;
    height: 100px;
    top: -30px;
    left: -160px;
    right: auto;
  }

  .cat-program__reference-icon {
    bottom: 10px;
  }

  .cat-program__icon-cat-slim {
    width: 71px;
    height: 97px;
    top: 41px;
    left: 65px;
    right: auto;
  }

  .cat-program__icon-cat-pro {
    width: 134px;
    height: 57px;
    top: 69px;
    left: 34px;
    right: auto;
  }

  .cat-program__intro,
  .cat-program:nth-child(2) .cat-program__intro {
    width: 464px;
    margin-bottom: 10px;
    border: none;
  }
}
