.cat-program {
  background-color: $block-background;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
}

.cat-program__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: 71px;
  position: relative;
}

.cat-program__header::before {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: "";
  left: -69px;
  top: -5px;
  background: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
}

.cat-program__header--slim::before {
  background-image: url("../img/icon-cat-slim.svg");
}

.cat-program__header--growth::before {
  background-image: url("../img/icon-cat-pro.svg");
}

.cat-program__intro {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
  padding-bottom: 22px;
  border-bottom: 1px solid #666666;
  margin-bottom: 19px;
}

.cat-program__catalog-reference {
  text-decoration: none;
  font-family: $font-family--header;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  position: relative;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.cat-program__catalog-reference::after {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 7px;
  right: -36px;
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .cat-program {
    padding-top: 47px;
    padding-left: 53px;
    padding-bottom: 59px;
  }

  .cat-program__header {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .cat-program__header::before {
    width: 200px;
    height: 200px;
    right: 40px;
    top: 10px;
    left: auto;
  }

  .cat-program__intro {
    font-size: 16px;
    line-height: 24px;
    width: 372px;
    margin-bottom: 33px;
  }

  .cat-program__intro:nth-child(2) {
    width: 342px;
  }

  .cat-program__catalog-reference {
    font-size: 20px;
    line-height: 20px;
  }

  .cat-program__catalog-reference::after {
    top: 10px;
    right: -47px;
  }
}

@media (min-width: $desktop-width) {
  .cat-program {
    margin-bottom: 0;
    padding-right: 53px;
  }

  .cat-program__header {
    margin-left: 161px;
    margin-bottom: 73px;
  }

  .cat-program__header::before {
    width: 100px;
    height: 100px;
    top: -30px;
    left: -160px;
    right: auto;
  }

  .cat-program__intro,
  .cat-program__intro:nth-child(2) {
    width: 462px;
    margin-bottom: 8px;
    border: none;
  }
}
