.catalog__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__link,
.catalog__to-more {
  text-decoration: none;
}

.catalog__header {
  margin: 0;
  margin-bottom: 14px;
  width: 141px;
}

.catalog__field,
.catalog__value {
  padding: 0;
}

.catalog__title,
.catalog__to-more {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__title {
  width: 72px;
  text-transform: uppercase;
  display: block;
}

.catalog__description,
.catalog__text {
  font-family: $font-family--text;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 7px;
}

.catalog__value {
  text-align: right;
}

.catalog__description {
  border-collapse: collapse;
  width: 141px;
  margin-bottom: 21px;
  border-spacing: 0;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
}

.catalog__to-all {
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__to-more {
  margin-bottom: 9px;
  text-transform: uppercase;
}

.catalog-text {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 7px;
}

.catalog__item {
  padding-bottom: 23px;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid $block-background;
}

.catalog__item:first-child {
  padding-top: 4px;
}

.catalog__item:last-child {
  align-items: center;
  position: relative;
  padding-top: 55px;
}


.catalog__item:last-child::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
}

.catalog__image {
  position: absolute;
  top: -16px;
  left: 0;
  z-index: -1;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .catalog__item {
    width: 324px;
    height: 431px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-top: 165px;
    background: $block-background;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog__item:first-child {
    padding-top: 165px;
  }

  .catalog__item:last-child {
    background: none;
    border: 1px solid #cdcdcd;
    text-align: center;
    padding-top: 165px;
  }

  .catalog__item:last-child::before {
    top: 77px;
    right: auto;
    background-image: url("../img/icon-plus.svg");
    width: 61px;
    height: 61px;
  }

  .catalog__to-more {
    font-size: 20px;
    margin-bottom: 19px;
  }

  .catalog__text {
    font-size: 16px;
    margin-bottom: 85px;
  }

  .catalog__title {
    width: 126px;
    font-size: 20px;
  }

  .catalog__description {
    font-size: 16px;
    margin-bottom: 33px;
    width: 249px;
  }

  .catalog__field,
  .catalog__value {
    border-bottom: 1px solid #cecece;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .catalog__button {
    width: 249px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .catalog__image {
    z-index: 100;
    bottom: 300px;
    top: auto;
  }

  .catalog__header {
    width: 128px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 19px;
  }

  .catalog__to-all {
    width: 249px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog__item:nth-child(2n-1) {
    margin-right: 60px;
    margin-bottom: 137px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__description {
    width: 169px;
  }

  .catalog__button {
    width: 169px;
  }

  .catalog__item:last-child::before {
    top: 68px;
    left: 96px;
  }

  .catalog__to-all {
    width: 169px;
  }
}
