.contacts {
  background-color: $block-background;
}

.contacts--index {
  background: none;
  position: relative;
}

.contacts__invite {
  width: 125px;
  font-family: $font-family--header;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  text-transform: uppercase;
}

.contacts__address {
  width: 138px;
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}

.contacts__map {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  background: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fef7ef;
  position: relative;
}

.contacts__street {
  margin: 0;
}

.contacts__city {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__invite {
    width: 156px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    width: 156px;
    text-align: right;
  }

  .contacts__map {
    background: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
  }

  .contacts__city {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__map {
    background: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__address {
    text-align: left;
  }
}
