.container {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
