.form__cat-info,
.form__owner-info,
.form__comment,
.form__additionally {
  border: none;
  padding: 0;
  margin: 0;
}

.form__owner-info,
.form__comment,
.form__additionally {
  position: relative;
}

.form__owner-header,
.form__comment-header,
.form__additionally-header {
  width: 202px;
  background-color: #ffffff;
  z-index: 10;
  position: relative;
  font-weight: 400;
  margin: 0;
}

.form__owner-header::after,
.form__comment-header::after,
.form__additionally-header::after {
  width: 100vw;
  position: absolute;
  content: "";
  height: 3px;
  background: $accent-color;
  top: 14px;
  overflow: hidden;
  z-index: -1;
}

.form__owner-header::after {
  left: 201px;
}

.form__comment-header::after {
  left: 142px;
}

.form__additionally-header::after {
  left: 164px;
}

.form__additionally-header {
  margin-bottom: 40px;
}

.form__name-input,
.form__weight-input,
.form__age-input,
.form__email-input,
.form__phone-input {
  border: 1px solid #cdcdcd;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-grow: 1;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;

  &:hover,
  &:focus {
    border-color: #bababa;
    outline: none;
  }

  &:active,
  &:invalid {
    outline: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.form__name-input:active + svg,
.form__weight-input:active + svg,
.form__age-input:active + svg,
.form__email-input:active + svg,
.form__phone-input:active + svg {
  fill: $accent-color;
}

.form__name-input:invalid + svg,
.form__weight-input:invalid + svg,
.form__age-input:invalid + svg,
.form__email-input:invalid + svg,
.form__phone-input:invalid + svg {
  fill: #ff8282;
}

.form__name-input::placeholder,
.form__weight-input::placeholder,
.form__age-input::placeholder,
.form__email-input::placeholder,
.form__phone-input::placeholder {
  color: #444444;
}

.form__cat-info p,
.form__owner-info p {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}

.form__cat-info {
  padding-bottom: 8px;
}

.form__value-name,
.form__value-weight,
.form__value-age {
  margin-right: 15px;
}

.form__value-email,
.form__value-phone {
  margin-right: 10px;
}

.form__owner-header,
.form__comment-header,
.form__additionally-header {
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 34px;
  z-index: 10;
  position: relative;
  background-color: #ffffff;
  padding-right: 21px;
}

.form__program-list,
.form__additionally-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 32px;
}

.form__nutrition-program {
  padding-top: 26px;
  padding-bottom: 1px;
  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 28px;
}

.form__program-item {
  position: relative;
  margin-bottom: 25px;
}

.form__owner-info {
  margin-bottom: 14px;
}

.form__program-radio + label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: -46px;
  top: -6px;
}

.form__program-radio + label:hover::before,
.form__program-radio + label:focus::before {
  border-color: #bababa;
}

.form__program-radio + label:active {
  opacity: 0.3;
}

.form__program-radio:checked + label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: $accent-color;
  border-radius: 50%;
  left: -37px;
  top: 3px;
}

.form__owner-email,
.form__owner-phone {
  position: relative;
}

.form__icon-mail,
.form__icon-phone {
  position: absolute;
  fill: #222222;
}

.form__icon-mail {
  width: 18px;
  height: 14px;
  right: 16px;
}

.form__icon-phone {
  width: 21px;
  height: 21px;
  right: 12px;
}

.form__comment {
  margin-bottom: 20px;
}

.form__comment-info {
  margin: 0;
}

.form__comment textarea {
  width: 280px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
  line-height: 18px;
  padding-top: 13px;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-right: 13px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: #bababa;
    outline: none;
  }

  &:active {
    padding-top: 12px;
    padding-left: 13px;
    padding-bottom: 9px;
    padding-right: 12px;
    outline: none;
    border: 2px solid #444444;
  }
}

.form__comment textarea::placeholder {
  color: #444444;
}

.form__additionally {
  padding-top: 6px;
}

.form__additionally-list {
  margin-left: 46px;
}

.form__additionally-item {
  margin-bottom: 25px;
}

.form__additionally-item label {
  position: relative;
}

.form__additionally-checkbox + label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  left: -46px;
  top: -2px;
}

.form__additionally-checkbox + label:hover::before,
.form__additionally-checkbox:checked + label:hover::before,
.form__additionally-checkbox:focus + label::before,
.form__additionally-checkbox:checked:focus + label::before {
  border-color: #bababa;
}

.form__additionally-checkbox + label:active::before,
.form__additionally-checkbox + label:active {
  opacity: 0.3;
}

.form__additionally-checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -42px;
  top: 5px;
}

.page-form__additionally {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
}

.form__button {
  margin-top: 14px;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .form__name-input,
  .form__weight-input,
  .form__age-input,
  .form__phone-input {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 13px;

    &:active,
    &:invalid {
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .form__value-age {
    margin-right: 15px;
  }

  .form__value-name {
    margin-right: 16px;
  }

  .form__value-weight {
    margin-right: 19px;
  }

  .form__value-email {
    margin-right: 18px;
  }

  .form__value-phone {
    margin-right: 13px;
  }

  .form__email-input {
    padding-left: 20px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 13px;

    &:active,
    &:invalid {
      padding-left: 19px;
      padding-right: 17px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .form__owner-header::after,
  .form__comment-header::after,
  .form__additionally-header::after {
    top: 22px;
  }

  .form__owner-header::after {
    left: 551px;
  }

  .form__comment-header::after {
    left: 217px;
  }

  .form__additionally-header::after {
    left: 250px;
  }

  .form__owner-header::before,
  .form__comment-header:before,
  .form__additionally-header::before {
    width: 100vw;
    position: absolute;
    content: "";
    height: 3px;
    background: $accent-color;
    top: 22px;
    left: -810px;
    overflow: hidden;
    z-index: -1;
}

  .form__cat-info p,
  .form__owner-info p {
    margin-bottom: 21px;
  }

  .form__icon-mail {
    right: 18px;
    top: 20px;
  }

  .form__icon-phone {
    right: 15px;
    top: 17px;
  }

  .form__program-radio + label::before {
    width: 38px;
    height: 38px;
    left: -60px;
    top: -9px;
  }

  .form__program-radio:checked + label::after {
    width: 18px;
    height: 18px;
    left: -49px;
    top: 2px;
  }

  .form__nutrition-program {
    padding-top: 33px;
    border: 1px solid #cdcdcd;
    margin: 0;
    margin-bottom: 76px;
  }

  .form__program-list {
    margin-left: 69px;
  }

  .form__additionally-list {
    margin-left: 57px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__additionally-item {
    width: 160px;
    margin-bottom: 52px;
  }

  .form__additionally-item:nth-child(2n-1) {
    margin-right: 184px;
  }

  .form__cat-info {
    padding-bottom: 52px;
  }

  .form__program-item {
    margin-bottom: 33px;
  }

  .form__owner-header,
  .form__comment-header,
  .form__additionally-header {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
  }

  .form__owner-header {
    width: auto;
  }

  .form__additionally-header {
    margin-bottom: 67px;
  }

  .form__owner-info {
    margin-bottom: 46px;
  }

  .form__additionally-checkbox + label::before {
    width: 38px;
    height: 38px;
    left: -59px;
    top: -4px;
  }

  .form__additionally-checkbox:checked + label::after {
    left: -49px;
    top: 7px;
  }

  .form__comment textarea {
    width: 631px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 31px;

    &:hover,
    &:focus {
      border-color: #bababa;
      outline: none;
    }

    &:active {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
      outline: none;
      border: 2px solid #444444;
    }
  }

  .form__comment {
    margin-bottom: 58px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    margin-top: 13px;
    margin-right: 62px;
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .page-form__additionally {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__cat-info {
    width: 570px;
    margin-left: 2px;
    padding-bottom: 0;
  }

  .form__program-list {
    margin-left: 73px;
  }

  .form__nutrition-program {
    width: 570px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }

  .form__phone-input {
    padding-left: 21px;

    &:active,
    &:invalid {
      padding-left: 20px;
    }
  }

  .form__icon-mail {
    right: 21px;
    top: 18px;
  }

  .form__additionally-header,
  .form__comment-header,
  .form__owner-header {
    margin-bottom: 77px;
  }

  .form__additionally-header::before,
  .form__comment-header:before,
  .form__owner-header::before {
    left: -1631px;
  }

  .form__owner-info::before {
    width: 779px;
  }

  .form__comment {
    margin-bottom: 70px;
  }

  .form__additionally-item {
    width: 186px;
  }

  .form__additionally-header {
    margin-bottom: 60px;
  }

  .form__cat-info p,
  .form__owner-info p {
    width: 570px;
  }

  .form__comment textarea {
    width: 1220px;
    padding-left: 19px;

    &:active {
      padding-left: 18px;
    }
  }

  .form__additionally-item:nth-child(2n-1) {
    margin-right: 0;
  }

  .form__additionally-list {
    justify-content: space-between;
    margin-left: 59px;
  }

  .form__additionally-checkbox + label::before {
    width: 38px;
    height: 38px;
    left: -59px;
    top: -4px;
  }

  .form__additionally-checkbox:checked + label::after {
    left: -49px;
    top: 8px;
  }

  .form__button {
    width: 570px;
    padding-left: 13px;
    margin-right: 82px;
    margin-bottom: 17px;
    margin-top: 20px;
  }
}
