.form-section {
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .form-section {
    padding-left: 42px;
    padding-right: 37px;
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 67px;
  }
}
