@media (min-width: $desktop-width) {
  .index-nav {
    width: 720px;
    height: 696px;
    margin-right: -110px;
    background-color: $accent-color;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .index-nav .site-list a {
    color: #ffffff;
  }
}
