.live-example {
  background: $block-background;
  padding-top: 17px;
  padding-bottom: 34px;
}

.live-example__row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.live-example__header {
  font-family: $font-family--header;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
}

.live-example__description {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 268px;
  margin: 0;
  margin-bottom: 9px;
}

.live-example__results {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.live-example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.live-example__value {
  font-family: $font-family--header;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.live-example__parameter {
  font-family: $font-family--text;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background: $block-background;
  width: 58px;
  position: absolute;
  top: 47px;
  padding-left: 15px;
  padding-right: 15px;
}

.live-example__total-expenditure {
  font-family: $font-family--header;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}

.live-example__image {
  margin-top: 34px;
  align-self: center;
}

.live-example__picture-- {
  &show {
    display: block;
    position: absolute;
    top: -12px;
    left: -15px;
  }

  &none {
    display: none;
    position: absolute;
    top: -12px;
    left: -15px;
  }
}

.live-example__pictures {
  position: relative;
  width: 100%;
  min-height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.live-example__buttons {
  width: 197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.live-example__button-before,
.live-example__button-after {
  font-family: $font-family--header;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  border: none;
  background: none;
  outline: none;
}

.live-example__slider {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  top: 8px;
  left: 76px;
  background: $accent-color;
  border-radius: 3px;
  z-index: 2;
}

.live-example__button-after::before {
  position: absolute;
  content: "";
  width: 82px;
  height: 12px;
  top: 4px;
  right: 60px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .live-example {
    padding-bottom: 0;
    background: none;
  }

  .live-example__header {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 38px;
  }

  .live-example__results {
    width: 366px;
  }

  .live-example__value {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }

  .live-example__parameter {
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 142px;
    width: auto;
    top: 62px;
    background: #ffffff;
  }

  .live-example__total-expenditure {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .live-example__expenditure-item {
    margin-bottom: 8px;
  }

  .live-example__image {
    width: 690px;
    height: 512px;
  }

  .live-example__buttons {
    width: 569px;
    padding-bottom: 75px;
  }

  .live-example__button-before,
  .live-example__button-after {
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
    padding-bottom: 6px;
    padding-top: 6px;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-color: transparent;
    }
  }

  .live-example__button-before::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: $accent-color;
    border-radius: 50%;
    z-index: 3;
    top: 11px;
    left: 284px;
  }

  .live-example__slider {
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    top: -3px;
    left: 270px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      width: 30px;
      height: 30px;
      border: 2px solid $accent-color;
    }
  }

  .live-example__button-after::before {
    width: 428px;
    height: 6px;
    top: 13px;
    right: 72px;
    border-radius: 2px;
    background-color: #dcdcdc;
  }

  .live-example__pictures {
    position: relative;
    min-height: 462px;
    background: #f2f2f2;
    margin-top: 225px;
  }

  .live-example__picture--show {
    top: -200px;
    left: 15px;
  }

  .live-example__picture-before {
    position: absolute;
    clip: rect(auto 339px auto auto);
  }

  .live-example__picture-after {
    position: absolute;
    clip: rect(auto auto auto 339px);
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    position: relative;
    padding-top: 71px;
    background: #f2f2f2;
  }

  .live-example__row {
    flex-direction: row;
  }

  .live-example__header {
    position: absolute;
    top: -185px;
  }

  .live-example__description {
    width: 435px;
    margin-bottom: 53px;
  }

  .live-example__results {
    margin-bottom: 26px;
  }

  .live-example__total-expenditure {
    align-self: flex-start;
    flex-direction: row;
    width: 366px;
  }

  .live-example__expenditure-item {
    margin-bottom: 0;
    margin-right: 66px;
  }

  .live-example__pictures {
    width: 790px;
    margin-top: 0;
  }

  .live-example__parameter {
    background: #f2f2f2;
  }
}
