.live-example {
  background: $block-background;
  padding-top: 17px;
  padding-bottom: 34px;
}

.live-example__row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.live-example__header {
  font-family: $font-family--header;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
}

.live-example__description {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 268px;
  margin: 0;
  margin-bottom: 9px;
}

.live-example__results {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.live-example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.live-example__value {
  font-family: $font-family--header;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 122px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.live-example__parameter {
  font-family: $font-family--text;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background: $block-background;
  width: 58px;
  position: absolute;
  top: 47px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.live-example__total-expenditure {
  font-family: $font-family--header;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}

.live-example__image {
  margin-top: 34px;
}

.live-example__picture-before,
.live-example__picture-after {
  &--show {
    display: block;
  }

  &--none {
    display: none;
  }
}

.live-example__picture-after {
  display: none;
}

.live-example__pictures-row {
  position: relative;
  width: 100%;
  min-height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.live-example__buttons {
  width: 212px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.live-example__button-before,
.live-example__button-after {
  font-family: $font-family--header;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  border: none;
  background: none;
  outline: none;
}

.live-example__slider {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  top: 8px;
  left: 69px;
  background: $accent-color;
  border-radius: 3px;
  z-index: 2;
}

.live-example__button-after::before {
  position: absolute;
  content: "";
  width: 82px;
  height: 12px;
  top: 4px;
  right: 66px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .live-example {
    padding-bottom: 0;
    background: none;
  }

  .live-example__header {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 24px;
    width: 676px;
    margin-bottom: 38px;
  }

  .live-example__results {
    width: 366px;
  }

  .live-example__value {
    font-size: 30px;
    line-height: 37px;
    width: 160px;
    padding-top: 14px;
    padding-bottom: 19px;
  }

  .live-example__parameter {
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 142px;
    width: auto;
    top: 62px;
    background: #ffffff;
  }

  .live-example__total-expenditure {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 26px;
  }

  .live-example__expenditure-item {
    margin-bottom: 9px;
  }

  .live-example__image {
    width: 690px;
    height: 512px;
  }

  .live-example__buttons {
    width: 584px;
    padding-bottom: 68px;
    margin-left: 0;
    z-index: 10;
  }

  .live-example__button-before,
  .live-example__button-after {
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
    padding-bottom: 6px;
    padding-top: 6px;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-color: transparent;
    }
  }

  .live-example__button-before::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: $accent-color;
    border-radius: 50%;
    z-index: 3;
    top: 13px;
    left: 288px;
  }

  .live-example__slider {
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    top: -1px;
    left: 274px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      width: 30px;
      height: 30px;
      border: 2px solid $accent-color;
    }
  }

  .live-example__button-after::before {
    width: 426px;
    height: 4px;
    top: 14px;
    right: 79px;
    border-radius: 1px;
    background-color: #dcdcdc;
  }

  .live-example__pictures {
    background-color: #f2f2f2;
    position: relative;
  }

  .live-example__picture-after {
    display: block;
    position: absolute;
    clip: rect(auto auto auto 339px);
  }

  .live-example__pictures::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: #eaeaea;
    top: 0;
    right: 0;
  }

  .live-example__picture {
    z-index: 10;
  }

  .live-example__pictures-row {
    position: relative;
    min-height: 462px;
    margin-top: 222px;
  }

  .live-example__picture-before,
  .live-example__picture-after {
    position: absolute;
    top: -203px;
    left: 15px;
  }

  .live-example__picture-before {
    position: absolute;
    clip: rect(auto 339px auto auto);
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    position: relative;
    padding-top: 68px;
    padding-bottom: 0;
    background: linear-gradient(to bottom, #ffffff 205px, #f2f2f2 20%);
    overflow: hidden;
  }

  .live-example::after {
    position: absolute;
    content: "";
    width: calc(((100vw - 1300px)/2) + 326px);
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 205px, #eaeaea 20%);
    top: 0;
    right: 0;
  }

  .live-example__row {
    display: block;
  }

  .live-example__header {
    margin-bottom: 145px;
  }

  .live-example__description {
    width: 435px;
    margin-bottom: 53px;
  }

  .live-example__results {
    margin-bottom: 23px;
  }

  .live-example__value {
    padding-top: 15px;
  }

  .live-example__parameter {
    position: relative;
    background-color: #f2f2f2;
    margin-top: -10px;
    top: auto;
  }

  .live-example__total-expenditure {
    align-self: flex-start;
    flex-direction: row;
    width: 366px;
    margin-top: 18px;
  }

  .live-example__expenditure-item {
    margin-bottom: 0;
    margin-right: 64px;
  }

  .live-example__pictures-row {
    width: 584px;
    margin-top: 0;
  }

  .live-example__pictures {
    background: none;
  }

  .live-example__image {
    width: 690px;
  }

  .live-example__picture {
    width: 690px;
    height: 493px;
  }

  .live-example__picture-before,
  .live-example__picture-after {
    left: -67px;
    top: -86px;
    z-index: 100;
  }

  .live-example__picture-before {
    clip: rect(auto 366px auto auto);
  }

  .live-example__picture-after {
    clip: rect(auto auto auto 366px);
  }

  .live-example__buttons {
    margin-left: 12px;
    padding-bottom: 69px;
  }

  .live-example__button-before,
  .live-example__button-after {
    padding-top: 9px;
  }

  .live-example__button-before::before {
    top: 16px;
    left: 289px;
  }

  .live-example__slider {
    width: 33px;
    height: 33px;
    top: 2px;
    left: 275px;
  }

  .live-example__button-after::before {
    top: 16px;
  }
}
