.live-example {
  background: $block-background;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
}

.live-example__header {
  font-family: $font-family--header;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
}

.live-example__description {
  font-family: $font-family--text;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 268px;
  margin: 0;
  margin-bottom: 9px;
}

.live-example__results {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.live-example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.live-example__value {
  font-family: $font-family--header;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.live-example__parameter {
  font-family: $font-family--text;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background: $block-background;
  width: 58px;
  position: absolute;
  top: 47px;
  padding-left: 15px;
  padding-right: 15px;
}

.live-example__total-expenditure {
  font-family: $font-family--header;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  align-self: center;
}

.live-example__image {
  margin-top: 34px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .live-example {
    margin-top: -153px; /* временно */
  }

  .live-example__header {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 38px;
  }

  .live-example__results {
    width: 366px;
  }

  .live-example__value {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }

  .live-example__parameter {
    font-size: 14px;
    line-height: 14px;
    width: 126px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 142px;
    width: auto;
    top: 62px;
  }

  .live-example__total-expenditure {
     font-size: 20px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
  }

  .live-example__expenditure-item {
    margin-bottom: 8px;
  }

  .live-example__image {
    width: 690px;
    height: 512px;
  }

}
