.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav {
    padding-top: 34px;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 64px;
    padding-bottom: 66px;
  }

  .main-nav__list {
    width: 477px;
  }

  .main-nav--index .site-list a {
    color: #ffffff;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-nav--index .site-list__item--active {
    border-color: #ffffff;
  }
}
