.page-footer {
  background-color: $block-background;
  padding-top: 40px;
  padding-bottom: 31px;
}

.page-footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-image {
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 37px;
    padding-bottom: 39px;
  }

  .page-footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__social {
    border: none;
    margin: 0;
  }

  .page-footer__logo-image {
    margin: 0;
    flex-shrink: 0;
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 36px;
  }
}
