.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 13px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    margin: 0;
    padding-top: 24px;
  }

  .page-header img {
    width: 174px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    padding-top: 55px;
  }

  .page-header img {
    width: 203px;
  }

  .page-header {
    position: relative;
  }

  .index-nav.page-header::after {
    position: absolute;
    width: 720px;
    height: 696px;
    content: "";
    background-color: $accent-color;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
