.page-form {
  font-family: $font-family--header;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.page-form__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.page-form__invitation {
  font-size: 14px;
  line-height: 18px;
}
