.page-main__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 27px;
}

.page-main__title {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
}

.page-main__link {
  margin: 0 auto;
  z-index: 100;
}

.page-main__title-picture {
  margin-top: -314px;
  margin-left: 20px;
}

.page-main__slim {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-main__header,
  .page-main__title {
    text-align: left;
    color: #111111;
  }

  .page-main__slim {
    margin-bottom: 30px;
  }

  .page-main__header {
    font-size: 60px;
    line-height: 60px;
    margin-top: 29px;
    margin-bottom: 41px;
  }

  .page-main__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
  }

  .page-main__title-picture {
    margin-top: -80px;
    margin-left: 28px;
    z-index: 0;
    width: 709px;
    height: auto;
  }

  .page-main__link {
    margin: 0;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    margin-bottom: 53px;
  }

  .page-main__title-picture {
    width: 552px;
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 422px;
  }
}

/* временно для выравнивания футера */
@media (max-width: $mobile-width-only) {
  .page-main {
    margin-bottom: 823px;
  }
}
