.page-main__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 19px;
}

.page-main__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 302px;
}

.page-main__link {
  margin-bottom: 22px;
}

.page-main__title-picture {
  margin-top: -273px;
}

.page-main__slim {
  margin-bottom: 20px;
}
