.page-catalog__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
  margin-bottom: 36px;
  padding-top: 32px;
  padding-bottom: 35px;
  border-top: 1px solid $block-background;
  border-bottom: 1px solid $block-background;
}

@media (min-width: $tablet-width) {
  .page-catalog__header {
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
