.page-catalog__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 11px;
  position: relative;
}

.page-catalog__header::before,
.page-catalog__header::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #f2f2f2;
  left: -20px;
  top: -3px;
}

.page-catalog__header::after {
  bottom: -18px;
  top: auto;
}

@media (min-width: $tablet-width) {
  .page-catalog__header {
    font-size: 60px;
    line-height: 60px;
    border: none;
    margin-top: 15px;
    margin-bottom: 152px;
  }

  .page-catalog__header::after,
  .page-catalog__header::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog__header {
    margin-top: 1px;
  }
}
