.page-footer {
  background-color: $block-background;
  padding-top: 39px;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
}

.social__list {
  list-style: none;
  display: flex;
}

.copyright__link {
  font-family: $font-family--text;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
