.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 13px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    margin: 0;
    padding-top: 24px;
  }

  .page-header img {
    width: 174px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    padding-top: 55px;
  }

  .page-header img {
    width: 203px;
  }
}
