.site-list {
  font-family: $font-family--header;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.site-list a {
  text-decoration: none;
  color: #111111;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.site-list__item {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $block-background;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    border: none;
    font-size: 18px;
    line-height: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: auto;
  }

  .site-list__item--active {
    border-bottom: 2px solid $accent-color;
    padding-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 25px;
  }
}
