.site-list {
  font-family: $font-family--header;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-align: center;
}

.site-list a {
  text-decoration: none;
  color: #111111;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $block-background;
  border-bottom: 1px solid $block-background;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding-left: 133px;
    padding-right: 133px;
    box-sizing: border-box;
  }
}
