.site-list {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  list-style: none;
  text-align: center;
}

.site-list a {
  text-decoration: none;
  color: #111111;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $block-background;
  border-bottom: 1px solid $block-background;
}
