.social__list {
  width: 125px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 82px;
  padding-right: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 15px;
}
