.title-index {
  margin-bottom: 66px;
}

@media (min-width: $tablet-width) {
  .title-index {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .title-index {
    margin-bottom: 267px;
    margin-top: -503px;
    margin-left: 110px;
  }
}
