.work-principle {
  padding-top: 17px;
  padding-bottom: 19px;
}

.work-principle__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.work-principle__list {
  list-style: none;
  padding: 0;
  font-family: $font-family--text;
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  text-align: left;
  margin-left: 80px;
}

.work-principle__item {
  margin-bottom: 26px;
  position: relative;
}

.work-principle__description {
  margin: 0;
}

.work-principle__item:nth-child(2n-1) {
  width: 180px;
}

.work-principle__item:nth-child(2n) {
  width: 194px;
}

.work-principle__item::before {
  position: absolute;
  width: 60px;
  height: 60px;
  content: "";
  left: -80px;
  top: -2px;
  background: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
}

.work-principle__item--leaf.work-principle__item::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.work-principle__item--powder.work-principle__item::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.work-principle__item--dining.work-principle__item::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.work-principle__item--clock.work-principle__item::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .work-principle {
    padding-top: 45px;
    padding-bottom: 27px;
    position: relative;
  }

  .work-principle::after {
    content: "";
    position: absolute;
    left: -30px;
    width: 100vw;
    height: 1px;
    background-color: #dadada;
  }

  .work-principle__header {
    margin-bottom: 184px;
    font-size: 60px;
    line-height: 60px;
  }

  .work-principle__item::before {
    left: 0;
    top: -112px;
    width: 80px;
    height: 80px;
  }

  .work-principle__item::after {
    position: absolute;
    left: 115px;
    top: -23px;
    color: $block-background;
    font-size: 281px;
    font-family: $font-family--header;
    z-index: -1;
    counter-increment: section;
    content: counter(section);
  }

  .work-principle__item:nth-child(2n-1) {
    width: 205px;
  }

  .work-principle__item:nth-child(2n) {
    width: 246px;
  }

  .work-principle__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .work-principle__item {
    width: 201px;
    height: 63px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 254px;
  }

  .work-principle__item:nth-child(3),
  .work-principle__item:nth-child(4) {
    margin-bottom: 95px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .work-principle__item:nth-child(odd) {
    margin-right: 178px;
  }
}

@media (min-width: $desktop-width) {
  .work-principle {
    padding-top: 75px;
    padding-bottom: 51px;
  }

  .work-principle__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .work-principle__item,
  .work-principle__item:nth-child(3),
  .work-principle__item:nth-child(4) {
    margin-bottom: 0;
  }

  .work-principle__item:nth-child(2n-1) {
    width: 216px;
    margin-right: 116px;
  }

  .work-principle__item:nth-child(2n) {
    width: 256px;
    margin-right: 79px;
  }

  .work-principle__item:nth-child(4n) {
    margin-right: 0;
  }

  .work-principle__header {
    margin-bottom: 182px;
  }

  .work-principle::after {
    display: none;
  }
}
