.work-principle {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 27px;
  padding-bottom: 15px;
}

.work-principle__header {
  font-family: $font-family--header;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
  margin-bottom: 41px;
}

.work-principle__list {
  list-style: none;
  padding: 0;
  font-family: $font-family--text;
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  text-align: left;
}

.work-principle__item {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .work-principle {
    min-height: 680px;
  }

  .work-principle__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 608px;
  }

  .work-principle__item {
    width: 201px;
    height: 63px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .work-principle__item:nth-child(odd) {
    margin-right: 180px;
  }
}

@media (min-width: $desktop-width) {
  .work-principle {
    min-height: 650px;
  }

  .work-principle__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1220px;
  }

  .work-principle__item {
    margin-right: 100px;
  }

  .work-principle__item:nth-child(4n) {
    margin-right: 0;
  }
}
