.wrapper-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .wrapper-contacts {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 64px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper-contacts {
    width: 570px;
    position: absolute;
    background: #ffffff;
    padding-left: 76px;
    padding-right: 90px;
    padding-top: 66px;
    padding-bottom: 60px;
    top: 93px;
    box-sizing: border-box;
  }
}
