@media (min-width: $tablet-width) {
  .wrapper-results {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .wrapper-results {
    flex-direction: column;
  }
}
