.wrapper-title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .wrapper-title-block {
    align-items: flex-start;
    margin-left: 87px;
    margin-bottom: 532px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .wrapper-title-block {
    margin-left: 80px;
    margin-bottom: 267px;
  }
}
