.wrapper-title {
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-color: $accent-color;
  background-repeat: no-repeat;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 29px;
}
