.wrapper-catalog-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog__item:last-child .wrapper-catalog-item {
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .wrapper-catalog-item {
    flex-direction: column;
  }
}
