@media (min-width: $tablet-width) {
  .wrapper-form-header::after {
    top: 21px;
  }

  .wrapper-form-header::before {
    width: 100vw;
    position: absolute;
    content: "";
    height: 3px;
    background: $accent-color;
    top: 21px;
    right: 0;
    overflow: hidden;
    z-index: -1;
    display: inline-block;
    }
}
